.featureBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    margin-top: 25px;
}

.featureBox>img {
    width: 12%;
    background: none;
}

.img4{
    width: 7%!important;
}

@media (max-width:768px){
    .featureBox>img {
        width: 20%;
    }
    .img4{
        width: 13%!important;
    }
}